body {
  font-family: sans-serif;
}
/* Navigation Bar */
#home {
  background-color: #E5E5E5;
  display: flex;
  flex-direction: row;
  background-color: #fca311;
  padding-bottom: 1cm;
  margin-left:-1cm;
  margin-right:-1cm;
  margin-top:-1cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  height: auto;
  justify-content: space-around;
}
.topmenu {
  float: left;
  color: #E5E5E5;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-decoration:none;
}

.topmenu:hover {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}

.topdiv {
  float: right;
  padding-right: 1cm;
}

.profile_name {
  float: left;
  padding-left: 2cm;
  font-size: 30px;
  font-weight: bold;
  color:#000000;
}

.profile_name .contact_info {
  font-size: 15px;
  font-weight: light;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact_info img {
  width:25px;
  margin-right: 10px;
  float:left;
}

/* Titles */

h2 {
  text-align: justify;
  font-size: 50px;
  text-align: center;
  float: left;
  color: #14213d;
  margin: 30px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.introduction {
  text-align: justify;
  font-size: 30px;
  text-align: center;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  animation-duration: 5s;
  position: relative;
}

/* Used in the About Me sections */

.container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* About Me */

.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;

}

#about-me div{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
#about-me h1 {
  font-size: 48px;
  margin-top: 90px;
  color: #14213d;
}

#about-me p {
  font-style:italic;
  font-size: 18px;
  width:700px;
  color: #fca311;
  margin-top: 5px;
}

.profile_image {
  width: 400px;
  height: fit-content;
  vertical-align: middle;
  margin: 5px;
}

/* Skills */

.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.skill {
  border: 2px solid rgb(199, 199, 199);
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 30px;
  padding: 10px;
  width: 2in;
  font-size: 16px;
}

.skill img {
  height: 35px;
  align-items: center;
}

.skills h3 {
  align-items: center;
  color:#000000;
  font-size: 24px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
} 

.skills p {
  align-items: center;
  font-size: 12px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
} 

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Projects */

.projects-container {
  margin-top: 30px;
  margin-left: 60px;
}

.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
  margin-left: 5cm;
}

.project-card {
  margin: 0 15px 15px 30px;
  padding-bottom: 5px;
}

.project-card h3 {
  font-size: 25px;
  margin-left: 30px;
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
}

/* Recommendations */

.all_recommendations {
  display: flex;
  align-items: start;
  margin-left: 1in;
  flex-direction: row;
  flex-flow: wrap;
  padding: 20px;
}

.recommendation {
  font-style: italic;
  text-align: left;
  display: flex;
  width: 300px;
  height: min-content;
  padding: 10px;
  background-color: #fff;
  border-radius: 11px;
  padding: 20px;
  margin: 10px;
  border:2px solid rgb(172, 170, 170);
  font-size: 16px;
}

.recommendation span {
  color: #fca311;
  font-size: 20px;
  font-family: sans-serif;
}

/* Scroll to Top Button */

.iconbutton{
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #fca311;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

/* Form Pop-up */

.popup {
  width:400px;
  background-color: #f3d39e;
  border-radius: 3mm;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  /* padding: 30px; */
  visibility: hidden;
}

.popup img {
  padding-top: 20px;
}

.popup button {
  background-color: #fff;
  border: 1px solid #fca311;
  color:  #fca311;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  margin-left: 25%;
}

.popup button:hover {
  background-color: #fff;
  border: 2px solid  #fca311;
  color:  #fca311;
  display: block;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin-left: 25%;
}

/* Recommendation Form */

input, textarea {
  font-family: sans-serif; 
  margin: 10px;  
  width:100%;
}

fieldset {
  display: flexbox;
  align-content: center;
  justify-content: center;  
  padding: 25px; 
  margin-left: 50px; 
  margin-right: 50px;   
  border: thin solid white;
  width: 50%;
}

/* Buttons */

button {
  background-color: #fff;
  border: 1px solid  #fca311;
  color:  #fca311;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

button:hover {
  background-color: #fca311;
  border: 1px solid  #fca311;
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}